/* VARIABLES */
$largeScreen: "all and (min-width : 1170px)";
$mediumScreen:"all and (min-width: 481px) and (max-width: 1169px)";

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$backgroundColor: #F2F2F2;

@mixin buttonStyleSmall {
    display: block;
    border: none;
    border-radius: 30px;
    font-size: 0.95em;
    background: linear-gradient($secondary-color, $primary-color);
    color: white;
    box-shadow: 5px 5px 5px darken($backgroundColor, 10);
}
@mixin buttonStyleLarge {
    display: block;
    border: none;
    border-radius: 40px;
    font-size: 1.2em;
    background: linear-gradient($secondary-color, $primary-color);
    color: white;
    box-shadow: 7px 7px 7px darken($backgroundColor, 10);

}
@mixin backgroundMenu {
    width: 100%;
    height: 270px;
    background-size: 100% 270px;
    background-repeat: no-repeat;
    background-position-y: 65px; 
}


    /* GENERAL */
    body {
        width: 100%;
        margin-left: 0;
        font-family: 'Roboto', sans-serif;
    }
    a {
        text-decoration: none;
        color: black;
        &:visited {
            color: black;
        }
    }
    

    /* HEADER */
    header{
        text-align: center;
        position: relative;
        img {
            width: 180px;
            margin: 12px 0;
        }
        i {
            position: absolute;
            top: 15px;
            left: 25px;
            font-size: 1.2em;
        }
    }


    /* SECTION 1*/
    .containerLoc {
        &__localisation {
            margin-right: 0;
            display: flex;
            justify-content: center;
            background-color: #e9e9e9;
            box-shadow: 2px 2px 2px darken( #e9e9e9, 15) inset;
            i{
                padding: 15px 17px 15px 0;
            }
            p{
                margin-right: 10px;
               font-weight: 400;
            }
        }
        &__explore {
            background-color: $backgroundColor;
            height: 260px;
            h1 {
                text-align: center;
                padding: 20px 20px 10px 20px;
                margin: 0px 30px 5px 30px;
            }
            p {
                font-weight: 100;
                font-size: 1.1em;
                text-align: center;
                margin-top: 0;
            }
            button {
                @include buttonStyleSmall();
                padding: 15px 20px;
                margin: 30px auto;
            }
        }
    }


    /* SECTION 2 */
    .operation {
        h2 {
            margin: 50px 20px 20px 20px;
        }
        &__steps {
            position: relative;
            height: 70px;
            display: flex;
            background-color: $backgroundColor;
            margin: 20px;
            border-radius: 20px;
            align-items: center;
            box-shadow: 5px 5px 5px darken($backgroundColor, 10);
            .number {
                position: absolute;
                top: 24px;
                left: -8px;
                height: 15px;
                padding: 5px 9px;
                background-color: $primary-color;
                color: white;
                font-size: 0.75em;
                border-radius: 25px;
            }
            h3 {
                font-weight: 400;
                font-size: 1em;
                i {
                    margin-left: 40px;
                    padding-right: 25px;
                    font-size: 1.2em;
                    color: gray;
                }
            }
        }
    }


    /* SECTION 3 */
    .restaurants {
        background-color: $backgroundColor;
        margin-top: 70px;
        padding-bottom: 40px;
        h2 {
            padding: 50px 20px 0 20px;
        }
    }
    .thumbnails {
        width: 90%;
        height: 245px;
        margin: 20px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 5px 5px 5px darken($backgroundColor, 10);
        &__image {
            position: relative;
            img{
                width: 100%;
                height: 170px;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
            }
            .new {
                position: absolute;
                top: 15px;
                right: 15px;
                background-color: $tertiary-color;
                color: darken($tertiary-color, 35);
                padding: 5px 12px;
                font-size: 0.9em;
                border-radius: 3px;
            } 
        }
        &__text {
            display: flex;
            position: relative;
            &__title {
                h3 {
                    margin: 10px 0 0 15px;
                    font-size: 1.1em;
                }
                p {
                    margin: 5px 0 10px 15px;
                    font-weight: 300;
                    font-size: 1.05em;
                }
            }
            &__icon {
                position: absolute;
                right: 15px;
                bottom: 20px;
                font-size: 1.6em;
            }
        }
    }


    /* FOOTER */
    footer {
        background-color: #3B3B43;
        padding-bottom: 30px;
        img {
            width: 100px;
            margin: 20px 0 15px 20px;
            filter: invert(100%);
        }
        ul {
            margin: 0;
            padding-left: 20px;
            list-style-type: none;
            li {
                margin-bottom: 8px ;
            }
        }
        a {
            color: white !important;
            font-weight: 300;
            font-size: 0.9em;
            i {
                margin-right: 10px;
                font-size: 0.75em;
            }
            .fa-utensils {
                font-size: 1em;
            }
        }
    }

    /* PAGES MENUS */

    /* GENERAL */
    #backgroundMenu1 {
        @include backgroundMenu();
        background-image: url("../images/restaurants/jay-wennington-N_Y88TmGwA-unsplash.jpg");   
    }
    #backgroundMenu2 {
        @include backgroundMenu();
        background-size: cover;
        background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unspash.jpg"); 
    }
    #backgroundMenu3 {
        @include backgroundMenu();
        background-image: url("../images/restaurants/to-heftiba-DQKerTsQwi0-unsplash.jpg"); 
    }
    #backgroundMenu4 {
        @include backgroundMenu();
        background-image: url("../images/restaurants/louis-hansel-shotsofluis-qNBGVyOCY8Q-unsplash.jpg"); 
    }
     

    /* SECTION 1 */
    .containerMenu {
        border-radius: 40px 40px 0 0;
        background-color: $backgroundColor;
        padding-bottom: 20px;
        margin-top: 220px;
        &__title {
            display: flex;
            margin-left: 20px;
            padding-top: 10px;
            h1{
                font-family: 'Shrikhand', sans-serif;
                font-size: 1.7em;
                margin-bottom: 7px;
            }
            i {
                margin:30px 0 0 40px;
                font-size: 1.7em;
            }
        }
        &__food {
            h2{
                font-weight: 300;
                font-size: 1em;
                margin:0 0 15px 20px;
                padding:25px 0 5px 0;
                border-bottom: 3px solid $tertiary-color;
                width: 40px;
            }
        }
        button {
            @include buttonStyleSmall();
            padding: 15px 50px;
            margin: 50px auto;
        }
    }
    .thumbnailsMenu{
        width: 90%;
        margin: 20px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 5px 5px 5px darken($backgroundColor, 10);
        display: flex;
        justify-content: space-between;
        &__title {
            width: 80%;
            h3 {
                margin: 10px 0 5px 10px;
                font-size: 1.1em;
            }
            p {
                margin: 0 0 10px 10px;
                font-weight: 300;
                font-size: 0.89em;
            }
        }
        &__price {
            font-size: 0.9em;
            margin: 20px 20px 0 0;
        }
    }
  
/* MEDIA QUERIES */

@media #{$largeScreen}
{
    /* Page d'accueil */

    /* HEADER */
    header {
        img {
            width: 220px;
        }
    }

    /* SECTION 1 */
    .containerLoc {
        &__localisation {
            font-size: 1.2em;
            i {
                padding-top: 20px;
            }
        }
        &__explore {
            h1 {
                font-size: 1.9em;
            }
            p {
                font-size: 1.5em;
                font-weight: 300;
            }
            button {
                @include buttonStyleLarge();
            }
        }
    }

    /* SECTION 2 */
    .operation {
        display: flex;
        &__steps {
            width: 25%;
            margin-top: 30px;
            font-size: 1.1em;
        }
    }

    /* SECTION 3 */
    .restaurants {
        display: flex; 
        .thumbnails {
            width: 25%;
        }
    }
    
    /* PAGES MENU */
    #backgroundMenu1, #backgroundMenu2, #backgroundMenu3, #backgroundMenu4{
        background-size: 100% 1000px;
    }

    /* SECTION 1 */
    .containerMenu {
        margin-top: 800px;
        &__title{
            font-size: 1.6em;
            i {
                margin-top: 40px;
            }
        }
        h2 {
            margin-right: 60px;
            margin-top: 10px;
            height: 25px;
            font-size: 1.3em;
        }
        &__food {
            display: flex;
            margin-top: 30px;
            .thumbnailsMenu {
                width: 25%;
            }
        }
        button {
            @include buttonStyleLarge();
        }
    } 
}
